<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p class="exams__search--details-title" matTooltip="{{ exam.nome }}">
        {{ exam.nome }}
      </p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="exams__search--description" matTooltip="{{ exam.descricao }}">
      {{ exam.descricao }}
    </p>
    <mat-divider></mat-divider>
    <div class="d-flex exams__search--details">
      <div class="d-flex" matTooltip="Data final simulado">
        <mat-icon><i class="ph-calendar-blank"></i></mat-icon>
        <span class="d-flex">
          {{ exam.data_fim | date: 'dd/MM/yyyy' }}
        </span>
      </div>

      <div class="d-flex" matTooltip="Duração simulado">
        <mat-icon><i class="ph-clock"></i></mat-icon>
        <span class="d-flex">
          {{ exam.duracao }} minutos
        </span>
      </div>

      <div class="d-flex" matTooltip="Quantidade questões">
        <mat-icon><i class="ph-list-numbers"></i></mat-icon>
        <span class="d-flex">
          {{ exam.qtd_questoes }}
        </span>
      </div>

    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button *ngIf="!prazoExpirado" attr.aria-label="Entrar no simulado {{exam.nome}}" mat-raised-button
      routerLink="/simulado/{{exam.idSimulado}}" color="accent">
      <span matTooltip="Iniciar"><i class="ph-play-bold"></i></span>
    </button>
    <p *ngIf="prazoExpirado">O prazo para realizar este simulado expirou</p>
  </mat-card-actions>
</mat-card>
