<section class="d-lg-none">
  <h2>
    Simulados disponíveis
  </h2>
  <mat-grid-list cols="4" [rowHeight]="'200px'">
    <mat-grid-tile *ngFor="let exam of data">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section>
  <h2 class="d-md-none">
    Simulados disponíveis
  </h2>
  <mat-grid-list class="d-md-none" cols="3" [rowHeight]="'220px'">
    <mat-grid-tile *ngFor="let exam of data">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="d-sm-none" cols="2" [rowHeight]="'220px'">
    <mat-grid-tile *ngFor="let exam of data">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="d-xs-none" cols="1" [rowHeight]="'220px'">
    <mat-grid-tile *ngFor="let exam of data">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
