<div class="title">
  <h1>
    Simulados disponíveis
  </h1>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<section class="d-lg-none">
  <mat-grid-list cols="1" [rowHeight]="'200px'">
    <mat-grid-tile *ngFor="let exam of simulados">
      <exam-card [exam]="exam" class="w-75"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section>
  <mat-grid-list class="d-md-none" cols="3" [rowHeight]="'250px'">
    <mat-grid-tile *ngFor="let exam of simulados">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="d-sm-none" cols="2" [rowHeight]="'250px'">
    <mat-grid-tile *ngFor="let exam of simulados">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="d-xs-none" cols="1" [rowHeight]="'250px'">
    <mat-grid-tile *ngFor="let exam of simulados">
      <exam-card [exam]="exam"></exam-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
