@use "src/styles.scss" as styles;

.navbar {
  &__viewport {
    &--user {
      border-radius: 50%;
    }

    &--login {
      cursor: pointer;
    }
  }
}

.exams {
  &__search {
    width: 50%;

    &--details {
      justify-content: space-between;
      padding: 10px 0px;
      width: 200px;
    }
  }
}

mat-card-content {
  margin: 0;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

mat-drawer-container {
  display: flex;
  flex-direction: column;
  height: 90%;
}

mat-drawer {
  width: fit-content;
  padding: 20px;
}

mat-drawer-content {
  padding: 35px;
}

mat-icon {
  cursor: pointer;
}
