<section>
  <mat-card>
    <div class="header__graphics">
      <div class="header__donutchart">
        <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType"></canvas>
      </div>
      <div class="header__time">
        <h2 class="m-0">{{ tempoSimulado }}</h2>
        <h3 class="m-0">Duração</h3>
        <br>
        <h2 class="m-0"> {{ porcentagemAcertos }}%</h2>
        <h3 class="m-0">Acertos</h3>
      </div>
      <div class="header__barchart">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
        </canvas>
      </div>
    </div>
  </mat-card>
</section>
<app-question-card [mostrarResposta]="true"></app-question-card>
