<mat-toolbar color="primary">
  <div class="d-flex" [routerLink]="'/'">
    <img class="navbar__viewport--login" src="../../../assets/images/logoWhite.svg">
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu de opções para usuário">
    <mat-icon *ngIf="!user"><i class="ph-user-focus"></i></mat-icon>
    <img *ngIf="user" src="{{ user.photoUrl }}" width="32" height="32" class="navbar__viewport--user">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()" *ngIf="user">
      <mat-icon><i class="ph-sign-out"></i></mat-icon>
      <span>Sair</span>
    </button>
    <button mat-menu-item *ngIf="!user" class="d-flex" (click)="registerUser()">
      <mat-icon><i class="ph-user-plus-bold"></i></mat-icon>
      <span>Cadastre-se</span>
    </button>
    <button mat-menu-item *ngIf="!user" class="d-flex">
      <mat-icon><i class="ph-user-circle-bold"></i></mat-icon>
      <span>Login com e-mail</span>
    </button>
  </mat-menu>
</mat-toolbar>
