main {
  margin: 0 auto;
  .mat-raised-button {
    img {
      max-width: 62px;
      height: 62px;
    }
    background-color: #f0f1f3;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
  }
}
