.widget {
  &__feedback {
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 10;

    &--form {
      width: 336px;
      height: 264px;

      &-title {
        display: flex;
        width: 215%;
        justify-content: space-between;
        align-items: center;

        span {
          min-width: 120px;
        }
      }

      &-input {
        width: 100%;

        textarea {
          height: 100px;
        }
      }
    }

    &--submit {
      width: 100%;
    }
  }
}
