<section *ngIf="!mostrarResposta">
  <mat-card class="questions__list">
    <mat-chip-list aria-label="Disciplina e tema da questão" class="questions__tags d-flex">
      <mat-chip class="questions__tags--exam" color="primary" selected matTooltip="{{ question.disciplina }}"><span>{{ question.disciplina }}</span></mat-chip>
      <mat-chip class="questions__tags--exam" color="primary" selected matTooltip="{{ question.assunto }}"><span>{{ question.assunto }}</span></mat-chip>
    </mat-chip-list>
    <mat-card-title class="questions__list--title">
      <span>{{ i + 1 }}</span>
      {{ question.enunciado }}
    </mat-card-title>
    <mat-card-content class="questions__list--content">
      <mat-radio-group class="questions__list--options">
        <div *ngFor="let alt of question.alternativas; let index = index;">
          <label for="alt-{{i}}-{{index}}">
            <input type="radio" [value]="alt" id="alt-{{i}}-{{index}}" name="alt-{{i}}" [checked]="alt.isSelected"
              (change)="saveExam(alt, question)">
            <span class="item">{{ options[index] }}</span>
            <span>{{alt.enunciado}}</span>
          </label>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="mostrarResposta">
  <div class="d-flex mb-10 justify-content-end">
    <mat-button-toggle-group name="categoryQuestions" aria-label="Categoria de questões" [(ngModel)]="filterQuestions"
      (ngModelChange)="getFilterQuestions()">
      <mat-button-toggle value="all">Todas</mat-button-toggle>
      <mat-button-toggle value="correct">Acertos</mat-button-toggle>
      <mat-button-toggle value="incorrect">Erros</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngFor="let question of questions; let i = index" class="questions__comments">
    <mat-card class="questions__list--background">
      <mat-card-title class="questions__list--title">
        <span>{{ i + 1 }}</span>
        {{ question.enunciado }}
      </mat-card-title>
      <mat-card-content class="questions__list--content">
        <div class="questions__list--options" *ngFor="let alt of question.alternativas; let index = index;">
          <label class="disabled">
            <input type="radio" name="alt-{{i}}" [checked]="alt.isCorrect" disabled>
            <span class="item"
              [ngClass]="{'right': alt.isCorrect, 'wrong': !alt.isCorrect && alt.isSelected, 'disabled': !alt.isCorrect && !alt.isSelected }">{{ options[index] }}</span>
            <span
              [ngClass]="{'right': alt.isCorrect, 'wrong': !alt.isCorrect && alt.isSelected, 'disabled': !alt.isCorrect && !alt.isSelected }">{{ alt.enunciado}}</span>
          </label>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="questions__comments--content">
      <mat-chip-list aria-label="Disciplina e tema da questão" class="questions__tags">
        <mat-chip class="questions__tags--comments" color="primary" selected>{{ question.disciplina }}</mat-chip>
        <mat-chip class="questions__tags--comments" color="primary" selected>{{ question.assunto}}</mat-chip>
      </mat-chip-list>
      <mat-card-content>
        <br>
        <h3 class="text-center"><strong>Comentários</strong></h3>
        <p> {{ question.comentarios }} </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
