<section *ngIf="!mostrarResposta">
  <mat-card class="questions__list">
    <mat-chip-list aria-label="Disciplina e tema da questão" class="questions__tags d-flex">
      <mat-chip class="questions__tags--exam" color="primary" selected>{{ question.disciplina }}</mat-chip>
      <mat-chip class="questions__tags--exam" color="primary" selected>{{ question.assunto}}</mat-chip>
    </mat-chip-list>
    <mat-card-title class="questions__list--title">
      <span>{{ i + 1 }}</span>
      {{ question.enunciado }}
    </mat-card-title>
    <mat-card-content class="questions__list--content">
      <mat-radio-group class="questions__list--options">
        <div *ngFor="let alt of question.alternativas; let index = index;">
          <label for="alt-{{i}}-{{index}}">
            <input type="radio" [value]="alt" id="alt-{{i}}-{{index}}" name="alt-{{i}}" [checked]="alt.checked"
              (change)="saveExam(alt, question)">
            <span class="item">{{ options[index] }}</span>
            <span>{{alt.enunciado}}</span>
          </label>
        </div>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="mostrarResposta">
  <div *ngFor="let question of questions; let i = index" class="questions__comments">
    <mat-card class="w-60">
      <mat-card-title class="questions__list--title">
        <span>{{ i + 1 }}</span>
        {{ question.enunciado }}
      </mat-card-title>
      <mat-card-content class="questions__list--content">
        <div class="questions__list--options" *ngFor="let alt of question.alternativas; let index = index;">
          <label class="disabled">
            <input type="radio" name="alt-{{i}}" [checked]="alt.isCorrect" disabled>
            <span class="item"
              [ngClass]="{'right': alt.isCorrect, 'wrong': !alt.isCorrect && alt.checked, 'disabled': !alt.isCorrect && !alt.checked }">{{
              options[index] }}</span>
            <span
              [ngClass]="{'right': alt.isCorrect, 'wrong': !alt.isCorrect && alt.checked, 'disabled': !alt.isCorrect && !alt.checked }">{{alt.enunciado}}</span>
          </label>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="w-33">
      <mat-chip-list aria-label="Disciplina e tema da questão" class="questions__tags">
        <mat-chip class="questions__tags--comments" color="primary" selected>{{ question.disciplina }}</mat-chip>
        <mat-chip class="questions__tags--comments" color="primary" selected>{{ question.assunto}}</mat-chip>
      </mat-chip-list>
      <mat-card-content>
        <strong>Comentários</strong>
        <p> {{ question.comentario }} </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
