<main>
  <button mat-raised-button><img src="../assets/images/logo.png" /></button>
  <h1>Vamos começar!</h1>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="pill"
    data-theme="filled_black"
    data-text="$ {button.text}"
    data-size="large"
    data-locale="pt-BR"
    data-logo_alignment="left"
    data-width="250"
    data-client_id="767633973756-8c4q5qp5dhrftollm5r9f3u7p3rgdqvb.apps.googleusercontent.com"
    data-auto_select="true"
    data-cookiepolicy="single_host_origin"
    data-redirect_uri="http://localhost:4200/simulado"
  ></div>
</main>
