@import '~@angular/material/theming';
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");

@include mat-core();

  $primary: mat-palette($mat-purple, 700, 500, 800);
  $accent: mat-palette($mat-green, A200, A100, A400);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

/* You can add global styles to this file, and also import other style files */
$background-dark: #F2F3F5;

.mat-card-header-text {
  margin: 0 !important;
}

.d-flex
{
  display: flex;
  align-items: center;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.f-64
{
  font-size: 4rem;
}

.f-32
{
  font-size: 2rem;
}

.loading
{
  display: flex;
  justify-content: center;
}

section {
  padding: 35px;
  margin-left: 45px;
}

html, body { height: 100%; overflow-y: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
