<section class="d-flex">
  <mat-card class="progress__countdown" matTooltip="Tempo restante">
    <countdown *ngIf="showHour" class="progress__countdown--timer"
      [config]="{ leftTime: tempoRestante, format: 'hh:mm:ss' }"></countdown>
    <countdown *ngIf="!showHour" class="progress__countdown--timer"
      [config]="{ leftTime: tempoRestante, format: 'mm:ss' }"></countdown>
  </mat-card>
  <mat-progress-bar mode="determinate" value="{{progresso / simulado.perguntas.length * 100 }}" color="accent" matTooltip="{{ progresso / simulado.perguntas.length * 100}}%">
  </mat-progress-bar>
  <button mat-flat-button color="accent">{{progresso}} / {{ simulado.perguntas.length }}</button>
</section>
<div class="questions" *ngFor="let question of questions; let i = index;">
  <app-question-card class="questions__list" [question]="question" [i]="i" (alternativaQuestaoSelecionadas)="saveExam($event)" [mostrarResposta]="false"></app-question-card>
</div>
<div class="send d-flex">
  <h3>Faltam {{ restantes }} para responder </h3>
  <button mat-raised-button color="accent" (click)="sendExam()">Finalizar simulado</button>
</div>
